/* src/NavBar.css */
* {
  margin: 0;
  padding: 0;
  background-color: aliceblue;
  }
  
  .nav_section {
    display: flex;
    justify-content: center;
    background-color: rgb(245, 241, 231);
    overflow: hidden;
  }
  
  .Nav_external_container {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    max-width: 75rem;
    width: 100%;
    display: block;
    font-family: SourceSansPro, Helvetica, sans-serif;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: rgba(0, 0, 0, .95);
    background-color: rgb(245, 241, 231);
  }
  
  .Nav_internal_container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(245, 241, 231);
  }
  
  .search_container {
    margin: 0 4px;
  }
  
  .inner-search_container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
  
  .inner-search_container input {
    border-radius: 5px 0 0 5px;
    border-color: #000;
    padding: .5rem;
    height: 1.3rem;
    color: rgba(0, 0, 0, .65);
    width: 300px;
    border: 1px solid rgba(0, 0, 0, .65);
    background-color: #ffffff;
  }
  
  .inner-search_container button {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTloFqSJL_1eqlkQoe63pIK_T2RpvKmUxYGP2-w3Mstlw&s');
    border: 1px solid #000;
    border-left-width: 0;
    border-radius: 0 5px 5px 0;
    width: 2.25rem;
    height: 2.4rem;
    background-color: #d54215;
    background-size: contain;
    background-position: center;
  }
  
  .nav_links_container {
    display: flex;
    list-style: none;
    align-items: center;
    background-color: rgb(245, 241, 231);
    z-index: 1;
  }
  
  .nav_links_container li {
    border-left: 1px solid;
    padding-left: 10px;
    background-color: rgb(245, 241, 231);
  }
  
  .nav_links_container li a {
    text-decoration: none;
    margin-right: 20px;
    cursor: pointer;
    font-size: 1rem;
    color: rgba(0, 0, 0, .95);
    font-family: SourceSansPro, Helvetica, sans-serif;
    line-height: 1.75rem;
    background-color: rgb(245, 241, 231);
  }
  .nav_links_container li:hover {
    background-color: bisque;
  }
  
  .nav_links_container li:hover .nav_links_container_link {
    background-color: bisque;
  }
  .dropdown2 li{
    border: none;
  }
  
  .external_nav_links_container {
    display: flex;
    justify-content: center;
    background-color: rgb(245, 241, 231);
  }
  
  .login {
    margin-right: 10px;
    font-family: SourceSansPro, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.75rem;
    color: rgba(0, 0, 0, .95);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 241, 231);
  }
  
  .login img {
    border-radius: 100%;
    width: 20px;
    background-color: #ffffff;
  }
  
  .login p {
    margin-left: 8px;
    cursor: pointer;
    background-color: rgb(245, 241, 231);
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-toggle-container {
    margin-left: 8px;
    background-color: rgb(245, 241, 231);
  }
  
  .menu-icon {
    width: 1.5rem;
    display: none;
    height: 1.5rem;
    background: unset;
    color: rgba(0, 0, 0, .95);
    border: 0;
    fill: rgba(0, 0, 0, .65);
    cursor: pointer;
    background-color: rgb(245, 241, 231);
  }
  
  .logo_container {
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(245, 241, 231);
  }
  
  .menu-item a {
    color: rgba(0, 0, 0, .95);
    text-align: center;
    padding-left: 10px;
    text-decoration: none;
    background-color: rgb(245, 241, 231);
  }
  
  .dropdown {
    /* position: relative; */
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(245, 241, 231);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(245, 241, 231);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgba(0, 0, 0, .95);
    padding: 0px 8px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content li {
    list-style: none;
  }
  
  .dropdown-content a:hover {
    background-color: bisque;
  }
  
  .dropdown:hover .dropdown1{
    display: block;
  }
  .category_list_container:hover .dropdown2 {
    display: block;
  }
  
  #user:active .dropdown-content {
    min-width: 80px;
    display: block;
    border-bottom: 1px solid;
  }
  
  @media (max-width: 940px) {
    .menu-icon {
      display: block;
    }
  
    .nav_links_container {
      display: none;
      flex-direction: column;
      background-color: #f9f9f9;
      position: absolute;
      top: 60px;
      left: 0;
      width: 160px;
      max-width: max-content;
      box-shadow: 4px 4px 19px 0px rgb(245, 241, 231);
    }
  
    #menu-toggle:checked~.nav_links_container {
      display: flex;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      margin-top: 25px;
      padding-left: 20px;
      padding-right: 20px;
      background-color: rgb(245, 241, 231);
      /* background-color: #f9f9f9; */
      padding-bottom: 2px;
    }
  
    .nav_links_container li {
      border-bottom: 1px solid;
      border-left: none;
      width: 80%;
    }
  
    .Nav_external_container {
      padding-right: 1rem;
      padding-left: 1rem;
    }
  
    .inner-search_container input {
      width: 10rem;
    height: 18px;
  }
  .inner-search_container button {
    height: 36px;
  }
  
    .dropdown-content {
      min-width: 80px;
    }
  
    .dropdown-content li {
      border-bottom: 1px solid;
      width: 95%;
      cursor: pointer;
      font-size: 0.8rem;
      color: rgba(0, 0, 0, .95);
      font-family: SourceSansPro, Helvetica, sans-serif;
      line-height: 1.75rem;
    }
    .category_list_container:hover .dropdown2{
      margin-left: 75px;
      top: 35px;
    }
  }
  @media (max-width: 500px){
    .inner-search_container input {
      width: 6rem;
      height: 16px;
    }
    .inner-search_container button {
      height: 33px;
    }
  }
  
  .hide {
    display: none;
  }
  
  .show {
    display: block;
  }
@media (max-width: 390px){
  .Nav_external_container {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}

  